@page
@model EventPlanner.Pages.EventItems.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EventItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.MaxParticipants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Organizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Organizer.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EventItem.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
