@page
@model EventPlanner.Pages.EventItems.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.MaxParticipants)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventItem.Organizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventItem.Organizer.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EventItem.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
